build/
classes/
target/
.DS_Store
.idea/
.jar
*.iml
gradle/wrapper/
*/pom.xml.versionsBackup
pom.xml.versionsBackup	
.gradle
out/
log/*
*/log/
m-sun/src/test/resources/com.zcloud.vtx.module.sun.eb.mongo/lib/*
m-sun/src/test/resources/com.zcloud.vtx.module.sun.eb.mongo/mods/*
*/target
mods/
target/
*.log
cloud/*
mod-code-container/__MACOSX/*
mod-code-container/cloud/*
mod-code-container/java-code/*
mod-code-container/repos.txt
mod-code-container/user-code.zip
mod-code-container/vertx.properties
mod-code-manager/cf6e334d-1ff5-4b05-8edb-1b5555c9f90b/*
repos.txt
